<div class="main-content main-content-blog grid no-sidebar">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="breadcrumb-trail breadcrumbs">
          <ul class="trail-items breadcrumb">
            <li class="trail-item trail-begin">
              <a href="index.html">Home</a>
            </li>
            <li class="trail-item trail-end active">Our blog</li>
          </ul>
        </div>
      </div>
    </div>

    <div class="row">
      <div
        class="content-area content-blog col-lg-12 col-md-12 col-sm-12 col-xs-12"
      >
        <div class="site-main">
          <h3 class="custom_blog_title capi">Our Blog</h3>
          <div class="blog-list grid-style">
            <div class="row">
              <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
                <div class="blog-item">
                  <div class="post-format">
                    <a href="blog_details.html">
                      <img src="assets/images/blog2.jpg" alt="img" />
                    </a>
                  </div>
                  <div class="post-info">
                    <div class="category-blog">
                      <a href="blog_details.html">LIFE STYLE</a>
                    </div>
                    <h3 class="post-title">
                      <a href="blog_details.html">Open The Gates For Lorem </a>
                    </h3>
                    <div class="main-info-post">
                      <p class="des">
                        Phasellus condimentum nulla a arcu lacinia, a venenatis
                        ex congue. Mauris nec ante magna.
                      </p>
                    </div>
                    <div class="author-view">
                      <div class="author">
                        <div class="avt">
                          <img src="assets/images/avt-blog1.png" alt="img" />
                        </div>
                        <h3 class="name">Adam Smith</h3>
                      </div>
                      <div class="review">
                        <div class="view">
                          <span class="icon-view">
                            <i class="fa fa-eye" aria-hidden="true"></i>
                          </span>
                          <span class="count"> 631 </span>
                        </div>
                        <div class="s-comments">
                          <span class="icon-cmt">
                            <i class="fa fa-commenting" aria-hidden="true"></i>
                          </span>
                          <span class="count"> 82 </span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
                <div class="blog-item">
                  <div class="post-format">
                    <a href="blog_details.html">
                      <img src="assets/images/blog3.jpg" alt="img" />
                    </a>
                  </div>
                  <div class="post-info">
                    <div class="category-blog">
                      <a href="blog_details.html">LIFE STYLE</a>
                    </div>
                    <h3 class="post-title">
                      <a href="blog_details.html"
                        >Fast-Track Your lorem ipsum
                      </a>
                    </h3>
                    <div class="main-info-post">
                      <p class="des">
                        Phasellus condimentum nulla a arcu lacinia, a venenatis
                        ex congue. Mauris nec ante magna.
                      </p>
                    </div>
                    <div class="author-view">
                      <div class="author">
                        <div class="avt">
                          <img src="assets/images/avt-blog1.png" alt="img" />
                        </div>
                        <h3 class="name">Adam Smith</h3>
                      </div>
                      <div class="review">
                        <div class="view">
                          <span class="icon-view">
                            <i class="fa fa-eye" aria-hidden="true"></i>
                          </span>
                          <span class="count"> 631 </span>
                        </div>
                        <div class="s-comments">
                          <span class="icon-cmt">
                            <i class="fa fa-commenting" aria-hidden="true"></i>
                          </span>
                          <span class="count"> 82 </span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
                <div class="blog-item">
                  <div class="post-format">
                    <a href="blog_details.html">
                      <img src="assets/images/blog-grid-1.jpg" alt="img" />
                    </a>
                  </div>
                  <div class="post-info">
                    <div class="category-blog">
                      <a href="blog_details.html">ACCESSORIES</a>
                    </div>
                    <h3 class="post-title">
                      <a href="blog_details.html"
                        >How to Build Your Perfect Dining</a
                      >
                    </h3>
                    <div class="main-info-post">
                      <p class="des">
                        Phasellus condimentum nulla a arcu lacinia, a venenatis
                        ex congue. Mauris nec ante magna.
                      </p>
                    </div>
                    <div class="author-view">
                      <div class="author">
                        <div class="avt">
                          <img src="assets/images/avt-blog1.png" alt="img" />
                        </div>
                        <h3 class="name">Adam Smith</h3>
                      </div>
                      <div class="review">
                        <div class="view">
                          <span class="icon-view">
                            <i class="fa fa-eye" aria-hidden="true"></i>
                          </span>
                          <span class="count"> 631 </span>
                        </div>
                        <div class="s-comments">
                          <span class="icon-cmt">
                            <i class="fa fa-commenting" aria-hidden="true"></i>
                          </span>
                          <span class="count"> 82 </span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
                <div class="blog-item">
                  <div class="post-format">
                    <a href="blog_details.html">
                      <img src="assets/images/blog-grid-2.jpg" alt="img" />
                    </a>
                  </div>
                  <div class="post-info">
                    <div class="category-blog">
                      <a href="blog_details.html">LIFE STYLE</a>
                    </div>
                    <h3 class="post-title">
                      <a href="blog_details.html">We design functional Items</a>
                    </h3>
                    <div class="main-info-post">
                      <p class="des">
                        Phasellus condimentum nulla a arcu lacinia, a venenatis
                        ex congue. Mauris nec ante magna.
                      </p>
                    </div>
                    <div class="author-view">
                      <div class="author">
                        <div class="avt">
                          <img src="assets/images/avt-blog1.png" alt="img" />
                        </div>
                        <h3 class="name">Adam Smith</h3>
                      </div>
                      <div class="review">
                        <div class="view">
                          <span class="icon-view">
                            <i class="fa fa-eye" aria-hidden="true"></i>
                          </span>
                          <span class="count"> 631 </span>
                        </div>
                        <div class="s-comments">
                          <span class="icon-cmt">
                            <i class="fa fa-commenting" aria-hidden="true"></i>
                          </span>
                          <span class="count"> 82 </span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
                <div class="blog-item">
                  <div class="post-format">
                    <a href="blog_details.html">
                      <img src="assets/images/blog-grid-3.jpg" alt="img" />
                    </a>
                  </div>
                  <div class="post-info">
                    <div class="category-blog">
                      <a href="blog_details.html">HAND BAGS</a>
                    </div>
                    <h3 class="post-title">
                      <a href="blog_details.html">Top 10 Tips To Grow </a>
                    </h3>
                    <div class="main-info-post">
                      <p class="des">
                        Egg whites, turkey sausage, wheat toast, water. Of
                        course they don’t want us to eat[...]
                      </p>
                    </div>
                    <div class="author-view">
                      <div class="author">
                        <div class="avt">
                          <img src="assets/images/avt-blog1.png" alt="img" />
                        </div>
                        <h3 class="name">Adam Smith</h3>
                      </div>
                      <div class="review">
                        <div class="view">
                          <span class="icon-view">
                            <i class="fa fa-eye" aria-hidden="true"></i>
                          </span>
                          <span class="count"> 631 </span>
                        </div>
                        <div class="s-comments">
                          <span class="icon-cmt">
                            <i class="fa fa-commenting" aria-hidden="true"></i>
                          </span>
                          <span class="count"> 82 </span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
                <div class="blog-item">
                  <div class="post-format">
                    <a href="blog_details.html">
                      <img src="assets/images/blog-grid-4.jpg" alt="img" />
                    </a>
                  </div>
                  <div class="post-info">
                    <div class="category-blog">
                      <a href="blog_details.html">BACKPACK</a>
                    </div>
                    <h3 class="post-title">
                      <a href="blog_details.html">Ipsum Dolor Ame Ctetur </a>
                    </h3>
                    <div class="main-info-post">
                      <p class="des">
                        Phasellus condimentum nulla a arcu lacinia, a venenatis
                        ex congue. Mauris nec ante magna.
                      </p>
                    </div>
                    <div class="author-view">
                      <div class="author">
                        <div class="avt">
                          <img src="assets/images/avt-blog1.png" alt="img" />
                        </div>
                        <h3 class="name">Adam Smith</h3>
                      </div>
                      <div class="review">
                        <div class="view">
                          <span class="icon-view">
                            <i class="fa fa-eye" aria-hidden="true"></i>
                          </span>
                          <span class="count"> 631 </span>
                        </div>
                        <div class="s-comments">
                          <span class="icon-cmt">
                            <i class="fa fa-commenting" aria-hidden="true"></i>
                          </span>
                          <span class="count"> 82 </span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="pagination clearfix style2 grid">
            <div class="nav-link">
              <a href="#" class="page-numbers"
                ><i class="icon fa fa-angle-left" aria-hidden="true"></i
              ></a>
              <a href="#" class="page-numbers">1</a>
              <a href="#" class="page-numbers">2</a>
              <a href="#" class="page-numbers current">3</a>
              <a href="#" class="page-numbers"
                ><i class="icon fa fa-angle-right" aria-hidden="true"></i
              ></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
